* {
  box-sizing: border-box;
}

body {
  background-color: #c4c3d0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(315deg, #bfc1c2 20%, #dcdcdc 70%);
  margin-top: 100px;
  /* min-height: 100vh; */
}

.quiz-container {
  background: white;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.1);
  /* padding: 40px; */
  max-width: 100%;
}

h2 {
  padding: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 8%;
}

ul li {
  margin: 1rem 0;
  font-size: 1.1rem;
  cursor: pointer;
}

button {
  background: #ba55d3;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 1rem;
  color: white;
  border: none;
  font-size: 1.3rem;
}

button:hover {
  background: burlywood;
}
